* {
  margin: 0;
  padding: 0:
}

.WebContainer{
  width: 100%;
  height: auto;}
.articles{
  width:90%;
  height: auto;
  margin: auto;}

html {
  height: 100%;}

body {
  background-color: #8b55a6;
  background-image: url(kidcudi.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/*   width: 600px;
  height: 1200px;} */

}

h1 {
  font-size: 58px;
  position: absolute;
  top: 0;
  right: 750px;
  color: #fff;}

h2 {
  font-size: 48px;
  position: absolute;
  top: 70px;
  right: 900px;
  color: #fff;}

h3 {
  font-size: 24px;
  position: relative;
  top: 580px;
  left: 2100px;
  color: #fff;}

.map {
  position: relative;
  top: 580px;
  left: 2100px;}

.audio1 {
  position: relative;
  bottom: 280px;}

.audio2 {
  position: relative;
  bottom: 400px;}

.spotify{

}

.form {
  position: relative;
  bottom:-200px;
  left: 1120px;
  font-size: 50px;
  color: #fff;}

.video-1 {
  display: block;
  left:5px;
  position: absolute;
  bottom: 1040px;}

.video-2 {
  display: block;
  left:2100px;
  position: absolute;
  bottom: 1000px;}

.video-3 {
  display: block;
  left:2100px;
  position: absolute;
  bottom: 780px;}

.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}
